@charset "utf-8";
body {
     background-image: url(https://www.deviantart.com/kaminohunter/art/Wallpapers-Cyan-Abstract-Polygons-Black-BG-612085840);
     background-color: black;
     color: greenyellow;
}
p {
     font-family: Garamond;
     font-size: 16px;
}
p.one {
     border-style: solid;
     border-width: 5px;
	 border-color: red;
}
div {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: header;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes h2 {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

